<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a routerLink="/" class="nav-link px-2 text-white">Home</a></li>
                <li><a routerLink="/articles" class="nav-link px-2 text-white">Articles</a></li>
                <li *ngIf="isAuth" ngbDropdown class="nav-item dropdown">
                    <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">{{userEmail}}</a>
                    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
                        <a routerLink="/my/orders" class="dropdown-item">My Orders</a>
                        <a routerLink="/admin/orders" class="dropdown-item">Manage Orders</a>
                        <a routerLink="/admin/products" class="dropdown-item">Manage Products</a>
                        <a class="dropdown-item" (click)="logout()">Log Out</a>
                    </div>
                </li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end">
                <button *ngIf="!isAuth" routerLink="/login" type="button"
                    class="btn btn-outline-light me-2">Login</button>
                <button *ngIf="!isAuth" routerLink="/register" type="button" class="btn btn-warning">Sign-up</button>
            </div>
        </div>
    </div>
</header>